<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>issuer</key>
	<string>https://dev-03370337-admin.okta.com:/oauth2/default</string>
	<key>clientId</key>
	<string>0oa5r05zy5BV26wcQ5d7</string>
	<key>redirectUri</key>
	<string>com.okta.dev-03370337:/callback</string>
	<key>logoutRedirectUri</key>
	<string>com.okta.dev-03370337:/</string>
	<key>scopes</key>
	<string>openid profile email</string>
</dict>
</plist>
